.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.t-gradient {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-green-400 to-red-100;
}
.faq-div {
  @apply relative bg-nav-active hover:bg-nav text-gray-100 cursor-pointer p-3 text-lg border-b border-nav;
}
.faq-li {
  @apply bg-nav-li text-gray-100 p-1 px-3 text-lg border-b border-nav hover:bg-nav;
}

/* .card-hover {
  p {
    color: red;
  }
} */
